[submodule "dwm"]
	path = dwm
	url = https://github.com/Luis-Licea/dwm
[submodule "st"]
	path = st
	url = https://github.com/Luis-Licea/st
[submodule "dmenu"]
	path = dmenu
	url = https://github.com/Luis-Licea/dmenu
[submodule "slstatus"]
	path = slstatus
	url = https://github.com/Luis-Licea/slstatus
[submodule "dwl"]
	path = dwl
	url = https://github.com/Luis-Licea/dwl
