! NOTE: Always run "xrdb -merge ~/.Xresources" to apply changes.

! Run xrandr to get resolution. Use resolution to calculate DPI using
! https://www.calculators.tech/dpi-calculator. Display: 1920x1080 24 inch.
! Xft.dpi: 92

! Transparency (0-1):
st.alpha: 0.70
!st.alphaOffset: 0.50


! Set a default font and font size as below:
! st.font: Monospace-11;
st.font: MesloLGS NF-12;

! st.termname: st-256color
! Margin size around terminal.
st.borderpx: 20

! Make st cursor light.
st.background:  #d6dbe5

! Change dark background color to light. Try sxiv -t, see selected pic color.
*.foreground:  #d6dbe5
! Change light background color to dark. Try sxiv -t, see background color.
*.background:  #131313

! Brogrammer theme:
!*.foreground:  #d6dbe5
!*.background:  #131313
!*.color0:      #1f1f1f
!*.color8:      #d6dbe5
!*.color1:      #f81118
!*.color9:      #de352e
!*.color2:      #2dc55e
!*.color10:     #1dd361
!*.color3:      #ecba0f
!*.color11:     #f3bd09
!*.color4:      #2a84d2
!*.color12:     #1081d6
!*.color5:      #4e5ab7
!*.color13:     #5350b9
!*.color6:      #1081d6
!*.color14:     #0f7ddb
!*.color7:      #d6dbe5
!*.color15:     #ffffff
!*.colorBD:     #d6dbe5


! Light blue color in terminal prompt, as opposed to dark blue.
*.color4:      #2a84d2

! Dracula Xresources palette */
!*.foreground: #F8F8F2
!*.background: #282A36
!*.color0:     #000000
!*.color8:     #4D4D4D
!*.color1:     #FF5555
!*.color9:     #FF6E67
!*.color2:     #50FA7B
!*.color10:    #5AF78E
!*.color3:     #F1FA8C
!*.color11:    #F4F99D
!*.color4:     #BD93F9
!*.color12:    #CAA9FA
!*.color5:     #FF79C6
!*.color13:    #FF92D0
!*.color6:     #8BE9FD
!*.color14:    #9AEDFE
!*.color7:     #BFBFBF
!*.color15:    #E6E6E6
